// Style Page Calc Detail
.calcdetail__header__wrap {
    & > h3 {
        @extend .light;
        width: 70%;
        margin: 0 auto;
        margin-top: 28px;
        display: block;
        line-height: 40px;
        margin-bottom: 13px;
    }

}

.formcalculator__page {
    & > p {
        font-size: 14px;
        color: #849ea8;
        @extend .light;
        margin-top: 25px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    & > .tarif__plan {
        font-size: 18px;
        margin-bottom: 19px;
        display: inline-block;
    }
}


.formcalculcator__header {
    width: 100%;
    height: 120px;
    position: relative;

    & > .shadow {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    }

    & > .content {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: relative;
        z-index: 2;
        display: table;
        padding: 0px 20px;

        & > i {
            width: 80px;
            height: 80px;
            background: url("../include/img/account.svg") center center no-repeat;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
        }

        & > span {
            display: table-cell;
            vertical-align: middle;
            font-size: 22px;
            @extend .light;
            padding-left: 20px;
        }

        & > .check__block {
            // float: right;
            display: table-cell;
            vertical-align: middle;
            text-align: right;

            & > span {
                @extend .light;
                font-size: 22px;
                line-height: 20px;
                position: relative;
                top: -6px;
            }
        }
    }
}

.calcdetailform__table {
    border: 1px solid #cfd8dc;
    width: 100%;

        & td.column1, & td.column2, & td.column3 {
            text-align: center;
        }

        & tr {
            border-bottom: 1px solid #cfd8dc;

            & > .table__header {
                position: relative;
                border-left: 1px solid #cfd8dc;
                transition: .2s;

                &.active {
                    background-color: $orange;
                    color: #fff;

                    & > .radio__block {
                        & > label {
                            border: none;
                            background-color: #fff;
                        }
                    }
                }

                & > .table__header__bg-block {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    background-color: transparent;
                    margin-bottom: 0px !important;
                    z-index: 1;
                }
                & > label {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    display: inline-block;
                    @extend .medium;
                    font-size: 14px;
                    margin-bottom: 13px;

                    &:first-child {
                        @extend .light;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                }

                & > .radio__block {
                    position: relative;
                    z-index: 3;
                }
            }

            & > .column1 {
                transition: .2s;

                &.active {
                    border-left: 1px solid $orange !important;
                    border-right: 1px solid $orange !important;

                    &.column1-first {
                        border-top: 1px solid $orange !important;
                    }

                    &.column1-last {
                        border-bottom: 1px solid $orange !important;
                    }
                }

            }

            & > .column2 {
                transition: .2s;

                &.active {
                    border-left: 1px solid $orange !important;
                    border-right: 1px solid $orange !important;

                    &.column2-first {
                        border-top: 1px solid $orange !important;
                    }

                    &.column2-last {
                        border-bottom: 1px solid $orange !important;
                    }
                }

            }

            & > .column3 {
                transition: .2s;

                &.active {
                    border-left: 1px solid $orange !important;
                    border-right: 1px solid $orange !important;

                    &.column3-first {
                        border-top: 1px solid $orange !important;
                    }

                    &.column3-last {
                        border-bottom: 1px solid $orange !important;
                    }
                }

            }

            &.calctable__tr {
                & > td {
                    padding: 15px 0px;
                    padding-bottom: 14px;
                    border-left: 1px solid #cfd8dc;
                    vertical-align: middle;
                }
            }

            &:hover {
                &.calctable__tr {
                    background-color: #f2f2f2;

                    & > td {
                        // padding: 16px 0px;
                    }
                }
            }

            & > .calctable__category {
                border-left: 1px solid #cfd8dc;
                padding: 16px 0px;
                background-color: #cfd8dc;
                text-transform: uppercase;
                text-align: center;
            }

            & > .column__title {
                padding-left: 10px !important;
                padding-right: 10px !important;

                &.active {
                    padding-bottom: 11px;
                }

                & > .title {
                    display: inline-block;
                    cursor: pointer;
                    padding-left: 20px;
                    position: relative;
                    text-decoration: underline;
                    transition: .2s;
                    line-height: 20px;

                    &.active {
                        color: $orange;

                        &:before {
                            transform: rotate(180deg);
                        }
                    }

                    &:before {
                        transition: .2s;
                        content: "";
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        background: url("../include/img/arrow-down.png") center center no-repeat;
                        margin-right: 8px;
                        position: absolute;
                        left: 0px;
                        top: 3px;
                    }
                }
                & > .slide {
                    display: none;
                    font-size: 14px;
                    padding: 15px;
                    padding-left: 18px;
                    padding-bottom: 0px;
                    padding-top: 12px;
                }
            }
        }

        & td {
            & > .check {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url("../include/img/check-green.svg") center center no-repeat;
            }

            & > .nocheck {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url("../include/img/close-min.svg") center center no-repeat;
            }

            & > .text-info {
                font-size: 14px;
                color: #849ea8;
            }
        }

        & .table__header {
            width: 270px;
            text-align: center;
            height: 100px;
            vertical-align: middle;
        }
}



// Check Block
.calcdetail__form__check {
    & > span {
        margin-top: 35px;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 17px;
    }
}

    .calcdetail__form__check__block {
        width: 100%;
        @extend .clearfix;
        padding: 16px 31px;

        &:nth-child(even) {
            background-color: #f2f2f2;
        }

        & > .contain {
            width: 40%;
            float: left;
            // padding: 10px 10px;
            display: table;

            & > .title {
                flex: 18px;
                text-decoration: underline;
                display: table-cell;
                vertical-align: middle;
                height: inherit;
                display: block;
                display: table-cell;
                vertical-align: middle;
            }

            & > .slide {
                display: none;
            }
        }

        & > .price {
            float: right;
            // display: none;

            & > .price__count {
                float: left;
            }

            & > .input__check {
                float: right;
            }
        }
    }


































.input__check {
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    @extend .clearfix;
    transition: .2s;

    &.disabled {
        position: relative;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: transparent;
            display: block;
            z-index: 5;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        & > .label__bg {
            background-color: #fff;
        }

        & > .label__inner {
            left: 0px !important;
            background-color: #f2f2f2;

            &:before {
                content: "выкл.";
                color: #000000;
                opacity: .5;
            }
        }
    }

    & > .label__bg {
        width: 80px;
        height: 30px;
        border-radius: 30px;
        display: block;
        border-radius: 30px;
        overflow: hidden;
        background-color: #cfd8dc;
        box-shadow: inset 0px 2px 3px 0px rgba(2, 6, 8, 0.25);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
    }


    & > input {
        display: none;
    }

    & > .label__inner {
        position: relative;
        z-index: 2;
        transition: .2s;
        display: block;
        width: 50px;
        height: 26px;
        margin: 2px;
        border-radius: 26px;
        background-color: #363636;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
        left: 0px;

        &:before {
            content: "выкл.";
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 4px 0px;
            @extend .bold;
            font-size: 12px;
            color: #fff;
            display: block;
        }
    }

    & > input:checked + .label__inner {
        background-color: #63b931;
        background-color: rgb(99, 185, 49);
        left: 26px;

        &:before {
            content: "вкл.";
            padding-left: 3px;
        }
    }
}
